---
let string = "Foo"
---

<p set:text="string">string</p>
<p set:text={string}>{string}</p>
<p set:text={string}>string</p>
<p set:text="string">{string}</p>
<button set:text="string">
  <div></div>
</button>
<button set:text="string">
  <div>Foo</div>{string}
</button>
<p set:text="string">
  <!-- comment -->{string}
</p>
