---
let string = "Foo"
---

<p set:text={string} set:html={string}></p>
<p set:html={string} set:text={string}></p>
<p set:text="string" set:html="string"></p>
<p set:html="string" set:text="string"></p>
<p set:text={string} set:html="string"></p>
<p set:html={string} set:text="string"></p>
