---
let string = `text`
---

<!-- prettier-ignore-start -->
<p set:html={string} />
<p set:html={string}></p>
<p set:html={string}>   </p>
<p set:html={string}>
</p>
<p set:html={string}>
    <!-- comment -->
</p>
<!-- prettier-ignore-end -->
