---
let string = `text`
---

<!-- prettier-ignore-start -->
<p set:text={string} />
<p set:text={string}></p>
<p set:text={string}>   </p>
<p set:text={string}>
</p>
<p set:text={string}>
    <!-- comment -->
</p>
<!-- prettier-ignore-end -->
